#btnBack ion-icon {
  font-size: 1.5rem;
}

#wishlistItems ion-img {
  width: 90px;
}

#wishlistItems h1 {
  font-size: 0.8rem;
  font-weight: bold;
  text-wrap: normal;
}

#wishlistItems ion-text {
  font-size: 0.8rem;
  color: cadetblue;
}
